html {
    color-scheme: light dark;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-flow: column nowrap;
}
main {
    display: flex;
    flex: 1;
    align-items: center;
}
